<!--How it's made-->
<section class="technology" id="technology">
  <div class="background">
  <div class="container">
     <h2 class="title">tradition and love<br />
      <span class="span-title">how it’s made?</h2>
        <div class="technology-part">
    <picture>
      <source
        srcset="
          ./images/cow-mobile.webp    1x,
        ./images/cow-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/cow-mobile.png    1x,
          ./images/cow-mobile@2x.png 2x
        "
        
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/cow-desktop.webp   1x,
          ./images/cow-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/cow-desktop.png    1x,
          ./images/cow-desktop@2x.png 2x
        "
        
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/cow-tablet.webp    1x,
          ./images/cow-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/cow-tablet.png    1x,
          ./images/cow-tablet@2x.png 2x
        "
        
        media="(min-width:768px)"
      />
          <img class="technology-image" src="./images/cow.png" alt="Cow" />
        </picture>
      
    <div class="technology-description">
    <b class="description">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </b>
    <p class="products-description">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt.<span class="products-description-span"> Aliquam erat volutpat. Aenean accumsan.</span>
    </p>
    
    
    
    <button class="technology-button" type="button"><span class="button-text">Read more </span>
      <svg class="technology-button-icon"> <use href="./images/sprite.svg#icon-button"></svg></use>
    </button>
    </div>
    </div>
    <ul class="consist list">
      <li class="consist-item">
        <picture>
      <source
        srcset="
          ./images/milk-mobile.webp    1x,
        ./images/milk-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/milk-mobile.png    1x,
          ./images/milk-mobile@2x.png 2x
        "
        
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/milk-desktop.webp   1x,
          ./images/milk-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/milk-desktop.png    1x,
          ./images/milk-desktop@2x.png 2x
        "
        
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/milk-tablet.webp    1x,
          ./images/milk-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/milk-tablet.png    1x,
          ./images/milk-tablet@2x.png 2x
        "
        
        media="(min-width:768px)"
      />

          <img class="consist-icon" src="./images/milk.png" alt="Icon-milk" />
        </picture>
        <p class="numbers">721</p>
        <b class="consist-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </b>
      </li>
      <li class="consist-item">
        <picture>
      <source
        srcset="
          ./images/apples-mobile.webp    1x,
        ./images/apples-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/apples-mobile.png    1x,
          ./images/apples-mobile@2x.png 2x
        "
        
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/apples-desktop.webp   1x,
          ./images/apples-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/apples-desktop.png    1x,
          ./images/apples-desktop@2x.png 2x
        "
        
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/apples-tablet.webp    1x,
          ./images/apples-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/apples-tablet.png    1x,
          ./images/apples-tablet@2x.png 2x
        "
        
        media="(min-width:768px)"
      />

          <img class="consist-icon" src="./images/apples.png" alt="Icon-apples" />
        </picture>
        <p class="numbers">16kg</p>
        <b class="consist-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </b>
      </li>
      <li class="consist-item">
        <picture>
      <source
        srcset="
          ./images/heart-mobile.webp    1x,
        ./images/heart-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/heart-mobile.png    1x,
          ./images/heart-mobile@2x.png 2x
        "
        
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/heart-desktop.webp   1x,
          ./images/heart-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/heart-desktop.png    1x,
          ./images/heart-desktop@2x.png 2x
        "
        
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/heart-tablet.webp    1x,
          ./images/heart-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/heart-tablet.png    1x,
          ./images/heart-tablet@2x.png 2x
        "
        
        media="(min-width:768px)"
      />

          <img class="consist-icon" src="./images/heart.png" alt="Icon-heart" />
        </picture>
        <p class="numbers">84</p>
        <b class="consist-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </b>
      </li>
    </ul>
    </div>
    <picture>
      <source
        srcset="
          ./images/kollage-mobile.webp    1x,
        ./images/kollage-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/kollage-mobile.jpg    1x,
          ./images/kollage-mobile@2x.jpg 2x
        "
        
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/kollage-desktop.webp    1x,
          ./images/kollage-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/kollage-desktop.jpg    1x,
          ./images/kollage-desktop@2x.jpg 2x
        "
        
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/kollage-tablet.webp    1x,
          ./images/kollage-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/kollage-tablet.jpg    1x,
          ./images/kollage-tablet@2x.jpg 2x
        "
        
        media="(min-width:768px)"
      />

      <img class="photos image" src="./images/kollage.jpg" alt="Photos" />
    </picture>
  </div>
</section>
